body {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-image: url(./Imagenes/Fondo\ configuracion.jpeg);
  color: #ffffff;
  width: 100%;
}

.container {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 50px auto;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.3);
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 15px;
  text-align: center;
}

th {
  background-color: #333;
  color: #fff;
}

.action-column {
  width: 20%;
}

input[type="submit"] {
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  background-color: #ff0000;
  color: #ffffff;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
  background-color: #cc0000;
}

a {
  text-decoration: none;
  color: #ffffff;
  background-color: #ff0000;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 10px;
}
