body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url(./Imagenes/Fondo\ configuracion.jpeg);
    color: #ffffff;
}

.container {
    width: 80%; 
    margin: 50px auto;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.3);
}

h2 {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}

h3 {
    font-size: 24px;
    font-weight: bold;
    margin-top: 30px;
}

p {
    box-sizing: border-box;
    border: 1px solid #ff0000; 
    border-radius: 5px;
    font-size: 18px;
    margin-bottom: 10px;
    padding: 10px;
}

label {
    display: block;
    font-size: 18px;
    margin-bottom: 5px;
}

.input-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.input-group label,
.input-group input {
    width: calc(50% - 5px);
}

input[type="text"],
input[type="password"] {
    padding: 10px;
    width: calc(100% - 20px);
    margin-bottom: 15px;
    border: none;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.2);
    color: #ffffff;
    font-size: 16px;
}

input[type="submit"] {
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    background-color: #ff0000;
    color: #ffffff;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #cc0000;
}

.success {
    color: #00ff00;
}

.error {
    color: #ff0000;
}
