body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url(./Imagenes/Fondo\ Login.webp);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    color: #ffffff;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-box {
    background-color: rgba(0, 0, 0, 0.9);
    padding: 50px;
    border-radius: 20px;
    max-width: 500px;
    text-align: center;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.3);
    animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

header {
    margin-bottom: 40px;
}

h1 {
    font-size: 50px;
    font-weight: bold;
    letter-spacing: 2px;
    margin-bottom: 20px; 
}

.login-form {
    margin-left: -30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-group {
    margin-bottom: 30px;
    text-align: left;
}

label {
    display: block;
    margin-bottom: 10px;
    font-size: 1.1em;
    font-weight: bold;
    text-align: left; 
}

input[type="email"],
input[type="password"] {
    padding: 15px;
    width: 100%;
    border: none;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.1);
    color: #ffffff;
    font-size: 1.1em;
    letter-spacing: 1px;
}

input[type="email"]:focus,
input[type="password"]:focus {
    outline: none;
    background-color: rgba(255, 255, 255, 0.3);
}

.login-btn {
    padding: 15px 30px;
    font-size: 1.2em;
    background-color: #ff0000;
    color: #ffffff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 40px;
}

.login-btn:hover {
    background-color: #cc0000;
}

.admin-checkbox {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}
.admin-checkbox input[type="checkbox"] {
    margin-right: 10px;
    appearance: none;
    width: 24px;
    height: 24px;
    background-color: transparent;
    border: 2px solid #ff0000;
    border-radius: 4px;
    cursor: pointer;
    position: relative;
}

.admin-checkbox input[type="checkbox"] {
    margin-right: 10px;
    transform: scale(1.5);
}

.admin-checkbox label {
    font-size: 1.5em;
    color: #ffffff;
}

.admin-checkbox input[type="checkbox"]::after {
    content: '\270A';
    font-size: 20px;
    color: #ff0000;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.3s ease;
}

.admin-checkbox input[type="checkbox"]:checked::after {
    opacity: 1;
}

.admin-checkbox label.admin-label {
    font-size: 1.1em;
    color: #ffffff;
}

a {
    text-decoration: none;
    color: #cc0000;
}

.BotonA{
    size: 20px;
    color: #ffffff;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #ff0000;
    border-radius: 5px;
}