body {
  background-image: url(./Imagenes/Fondo\ Casino.jpg);
  color: #ffffff;
  width: 100%;
  background-size: cover; 
}

.container {
  padding-top: 50px;
}

.carousel-caption {
  background-color: rgba(0, 0, 0, 0.7);
  color: #ffffff;
}

.carousel-caption h2 {
  font-size: 3em;
  font-weight: bold;
}

.carousel-caption p {
  font-size: 1.5em;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
  background-color: #ff0000; 
}

.carousel-control-prev, .carousel-control-next {
  width: 10%;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
  background-image: none;
}

.carousel-item img {
  height: 500px; 
  object-fit: cover;
}

.carousel-item {
  transition: transform 1s ease; 
}

.btn-primary {
  background-color: #ff0000; 
  border-color: #ff0000; 
}

.btn-primary:hover {
  background-color: #ff4d4d; 
  border-color: #ff4d4d; 
}

.btn-conteiner {
  display: flex;
  justify-content: right;
  flex-direction: column;
  margin-top: 50px;
  margin-right: 50px;
  --color-text: #ffffff;
  --color-background: #ff0000;
  --color-outline: #ff0000;
  --color-shadow: #00000080;
}

.input {
  display: flex;
  flex-direction: column;
  width: 200px;
  background-color: #0D1117;
  justify-content: center;
  border-radius: 5px
}

.value {
  background-color: transparent;
  border: none;
  padding: 10px;
  color: white;
  display: flex;
  position: relative;
  gap: 5px;
  cursor: pointer;
  border-radius: 4px;
}

.value:not(:active):hover,
.value:focus {
  background-color: #21262C;
}

.value:focus,
.value:active {
  background-color: #1A1F24;
  outline: none;
}

.value::before {
  content: "";
  position: absolute;
  top: 5px;
  left: -10px;
  width: 5px;
  height: 80%;
  background-color: #2F81F7;
  border-radius: 5px;
  opacity: 0;
}

.value:focus::before,
.value:active::before {
  opacity: 1;
}

.value svg {
  width: 15px
}

.input:hover > :not(.value:hover) {
  transition: 300ms;
  filter: blur(1px);
  transform: scale(0.95,0.95);
}

.btn-content {
  width: 200px;
  display: flex;
  align-items: center;
  padding: 10px 20px;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 20px;
  color: #ffffff;
  background: #ff0000;
  transition: background-color 0.3s ease;
  border-radius: 5px;
  box-shadow: 0 0 0.2em 0 #ff000080;
}