body {
  background-image: url(./Imagenes/Fondo\ Casino.jpg);
  color: #ffffff;
  width: 100%;
  background-size: cover; 
}

.container {
  padding-top: 50px;
}

.carousel-caption {
  background-color: rgba(0, 0, 0, 0.7);
  color: #ffffff;
}

.carousel-caption h2 {
  font-size: 3em;
  font-weight: bold;
}

.carousel-caption p {
  font-size: 1.5em;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
  background-color: #ff0000; 
}

.carousel-control-prev, .carousel-control-next {
  width: 10%;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
  background-image: none;
}

.carousel-item img {
  height: 500px; 
  object-fit: cover;
}

.carousel-item {
  transition: transform 1s ease; 
}

.btn-primary {
  background-color: #ff0000; 
  border-color: #ff0000; 
}

.btn-primary:hover {
  background-color: #ff4d4d; 
  border-color: #ff4d4d; 
}

.btn-conteiner {
  width: 20%;
  display: flex;
  justify-content: right;
  flex-direction: column;
  margin-top: 50px;
  margin-right: 50px;
  --color-text: #ffffff;
  --color-background: #ff0000;
  --color-outline: #ff0000;
  --color-shadow: #00000080;
}

.btn-content {
  margin-top: 10px;
  width: 60%;
  display: flex;
  align-items: center;
  padding: 5px 30px;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 30px;
  color: var(--color-text);
  background: var(--color-background);
  transition: 1s;
  border-radius: 100px;
  box-shadow: 0 0 0.2em 0 var(--color-background);
}



.btn-content:hover, .btn-content:focus {
  transition: 0.5s;
  -webkit-animation: btn-content 1s;
  animation: btn-content 1s;
  outline: 0.1em solid transparent;
  outline-offset: 0.2em;
  box-shadow: 0 0 0.4em 0 var(--color-background);
}

.btn-content .icon-arrow {
  transition: 0.5s;
  margin-right: 0px;
  transform: scale(0.6);
}

.btn-content:hover .icon-arrow {
  transition: 0.5s;
  margin-right: 25px;
}

.icon-arrow {
  width: 20px;
  margin-left: 15px;
  position: relative;
  top: 6%;
}
  
/* SVG */
#arrow-icon-one {
  transition: 0.4s;
  transform: translateX(-60%);
}

#arrow-icon-two {
  transition: 0.5s;
  transform: translateX(-30%);
}

.btn-content:hover #arrow-icon-three {
  animation: color_anim 1s infinite 0.2s;
}

.btn-content:hover #arrow-icon-one {
  transform: translateX(0%);
  animation: color_anim 1s infinite 0.6s;
}

.btn-content:hover #arrow-icon-two {
  transform: translateX(0%);
  animation: color_anim 1s infinite 0.4s;
}


@keyframes color_anim {
  0% {
    fill: white;
  }

  50% {
    fill: var(--color-background);
  }

  100% {
    fill: white;
  }
}

@-webkit-keyframes btn-content {
  0% {
    outline: 0.2em solid var(--color-background);
    outline-offset: 0;
  }
}

@keyframes btn-content {
  0% {
    outline: 0.2em solid var(--color-background);
    outline-offset: 0;
  }
}

a{
  text-decoration: none;
}