@keyframes tracking-in-expand-fwd {
    0% {
        letter-spacing: -.5em;
        transform: translateZ(-700px);
        opacity: 0
    }
    40% {
        opacity: .6
    }
    100% {
        transform: translateZ(0);
        opacity: 1
    }
}

@keyframes tracking-in-expand {
    0% {
        letter-spacing: -.5em;
        opacity: 0
    }
    40% {
        opacity: .6
    }
    100% {
        opacity: 1
    }
}

@keyframes wobble-hor-bottom {
    0%,
    100% {
        transform: translateX(0);
        transform-origin: 50% 50%
    }
    15% {
        transform: translateX(-30px) rotate(-6deg)
    }
    30% {
        transform: translateX(15px) rotate(6deg)
    }
    45% {
        transform: translateX(-15px) rotate(-3.6deg)
    }
    60% {
        transform: translateX(9px) rotate(2.4deg)
    }
    75% {
        transform: translateX(-6px) rotate(-1.2deg)
    }
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url(Imagenes/Fondo\ Inicio.jpg);
    background-size: cover;
    color: #ffffff;
    width: 96%;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.5);
    width: 96.85%;
    height: 93%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

.content-box {
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    max-width: 800px;
    text-align: center;
    padding: 40px;
}

.scrolling-text {
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
}

.scrolling-text p {
    animation: marquee 20s linear infinite;
}

@keyframes marquee {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}

h1 {
    font-size: 60px;
    margin-bottom: 20px;
    font-family: "Bebas Neue", sans-serif;
}

a {
    text-decoration: none;
}


p {
    font-size: 30px;
}

.buttons {
    text-align: center;
    margin-top: 50px;
}

.login-btn {
    padding: 10px 20px;
    font-size: 1.2em;
    background-color: #ff0000;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    margin: 0 10px;
    cursor: pointer;
    animation: wobble-hor-bottom .8s 4s both
}

.register-btn {
    padding: 10px 20px;
    font-size: 1.2em;
    background-color: #ff0000;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    margin: 0 10px;
    cursor: pointer;
    animation: wobble-hor-bottom .8s 3s both
}

.login-btn:hover,
.register-btn:hover {
    background-color: #cc0000;

}

.tracking-in-expand {
    animation: tracking-in-expand .7s cubic-bezier(.215, .61, .355, 1.000) both
}

.tracking-in-expand-fwd {
    animation: tracking-in-expand-fwd .8s cubic-bezier(.215, .61, .355, 1.000) 2s both
}

.support-btn {
    padding: 10px 20px;
    font-size: 1.2em;
    background-color: #ff0000;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    margin: 0 10px;
    cursor: pointer;
    animation: wobble-hor-bottom .8s 5s both;
}

.support-btn:hover {
    background-color: #cc0000;
}