body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-image: url(./Imagenes/Fondo\ Registro.jpg);
  color: #ffffff;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-box {
  background-color: rgba(0, 0, 0, 0.9);
  border-radius: 20px;
  width: 30%;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.3);
  animation: fadeIn 0.5s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 10px;
}

@keyframes fadeIn {
  from {
      opacity: 0;
      transform: translateY(-20px);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}

header {
  margin-bottom: 20px;
}

h1 {
  font-size: 2em;
  font-weight: bold;
  letter-spacing: 1px;
  margin-bottom: 15px;
}

.register-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
}

.input-group {
  width: 100%;
  margin-bottom: 20px;
  text-align: left;
}

.name-inputs {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.label-group {
  width: 100%;
}

label {
  display: block;
  margin-bottom: 5px;
  font-size: 1em;
  font-weight: bold;
  text-align: left;
}

input[type="email"],
input[type="text"],
input[type="password"] {
  padding: 12px;
  width: 95%; 
  border: none;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.1);
  color: #ffffff;
  font-size: 1em;
  letter-spacing: 1px;
}

input[type="email"]:focus,
input[type="text"]:focus,
input[type="password"]:focus {
  outline: none;
  background-color: rgba(255, 255, 255, 0.3);
}

#firstname,
#lastname {
  width: 85%;
}

.register-btn {
  padding: 12px 25px;
  font-size: 1em;
  background-color: #ff0000; 
  color: #ffffff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.register-btn:hover {
  background-color: #cc0000; 
}

.login-link {
  margin-top: 15px;
  font-size: 0.9em;
}

a{
  text-decoration: none;
  color: #cc0000;
}
