body {
    background-image: url(./Imagenes/Mou\ Fondo.webp);
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}

form {
    padding: 50px 55px;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 20px;
    text-align: center;
    width: 340px;
}

.input-group {
    display: flex;
    flex-direction: column;
    text-align: left;
}

h2 {
    color: #ff3d3d;
    font-size: 35px;
    margin-bottom: 15px;
}

label {
    color: #ff3434;
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 10px;
}

input,
textarea {
    padding:  17px 25px;
    border-radius: 25px;
    margin-bottom: 20px;
    background-color: #555;
    border: 2px solid #555;
    color: #fff;
    outline: none;
}

input::placeholder,
textarea::placeholder {
    color: #b5cab6;
}

.form-txt {
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.form-txt a {
    color: #ff4b4b;
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
}

.btn {
    font-size: 16px;
    color: #fff;
    border: 0;
    border-radius: 15px;
    background-color: #ff3131;
    box-shadow: 0 0 20px rgba(255, 102, 102, 0.4);
    cursor: pointer;
    padding: 14px 24px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #ff3434;
}

a {
    text-decoration: none;
    color: #fff;
}

@media(max-width:991px) {
    body {
        padding: 30px;
    }
    form {
        padding: 50px 30px;
        width: 100%;
    }
    input {
        padding: 15px;
    }
}
