body {
    font-family: Arial, sans-serif;
    background-image: url(./Imagenes/FONDO_UFC.jpg);
    background-size: cover;
    color: #fff;
    margin: 0;
    padding: 0;
    width: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 70%;
    margin: 0 auto;
    padding: 20px;
}

.title {
    text-align: center;
}

.slide-title {
    margin-top: 50px;
    text-align: center;
}

.matches {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
}

.match-row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
}

.match, .replay {
    width: 90%;
    margin-bottom: 20px;
    cursor: pointer;
}

.match img, .replay img {
    width: 100%;
    transition: transform 0.3s ease;
}

.match h4, .replay h4 {
    text-align: center;
    margin-top: 10px;
}

.match:hover img, .replay:hover img {
    transform: scale(1.1);
}

a{
    text-decoration: none;
    color: #fff;
}