body {
    font-family: Arial, sans-serif;
    background-image: url(../Imagenes/FONDO_BALONCESTO_2.jpg);
    background-size: cover;
    color: #fff;
    margin: 0;
    padding: 0;
    animation: fadeIn 1s ease-in-out;
    margin-top: 100px;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
}

.event-details {
    display: flex;
    margin-top: 50px;
    animation: slideInUp 1s ease-in-out;
}

.event-image {
    flex: 1;
    margin-right: 20px;
    animation: fadeInRight 1s ease-in-out;
}

.event-image img {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
}

.event-image img:hover {
    transform: scale(1.05);
}

.event-info {
    flex: 2;
    animation: fadeInLeft 1s ease-in-out;
}

.event-name {
    font-size: 32px;
    margin-bottom: 10px;
    animation: slideInLeft 1s ease-in-out;
}

.event-date, .event-location {
    margin-bottom: 10px;
    animation: slideInLeft 1s ease-in-out;
}

.event-description {
    line-height: 1.6;
    animation: slideInLeft 1s ease-in-out;
}

.event-description::first-letter {
    font-size: 100%;
    padding-bottom: -30px;
    color: #ff0000;
}


@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeInRight {
    from {
        opacity: 0;
        transform: translateX(100px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeInLeft {
    from {
        opacity: 0;
        transform: translateX(-100px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideInUp {
    from {
        opacity: 0;
        transform: translateY(100px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideInLeft {
    from {
        opacity: 0;
        transform: translateX(-100px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}
